################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/oop2023e/v17
/.vs/oop2023e/FileContentIndex
